body{
    font-family: Verdana, "Times New Roman";
    background: #000;
    color: #ffffff;  
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}
h1{
    font-size: 48px;
    text-align: center;
    padding: 15px;    
}
h2{
    font-size: 32px;
    text-shadow: 2px 4px #808080;

}
p{
    font-size: 24px;
    padding-bottom: 15px;
    padding-left: 15px;
}

img{
    width: 350px;
    display: block;
    margin: 0 auto; 
    border: 10px dashed #FFFFFF;
}
div{
    min-height: 100px;
    padding: 20px;
    border: 3px solid #FFFFFF;
}
.intro{
    border-radius: 15px;
    margin-top: 15px;
}
.red{
    background: #ff0000;
    text-align: right;
    margin-left: 50px;
    border-width: 0 0 3px 10px; 
    border-style: solid;
    
}
.blue{
    background: #0000FF;
    text-align: left;
    margin-right: 50px;
    border-width: 0 10px 3px 0;
    border-style: solid;
}
.yellow{
    background: #FFFF00;
    text-align: right;
    margin-left: 50px;
    border-width: 0 0 3px 10px;
    border-style: solid;
    border-color: #FFFFFF;
    color: #000000;  
}
.yellow h2{
    text-shadow: 2px 4px #c7e2c7;
}
.yellow p{
    color: #000000;
}

.green{
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-width: 0 10px 3px 0;
    border-style: solid;
}
span{
    text-decoration: underline;
    text-shadow: none;
    text-transform: uppercase;

}
footer{
    background-image: linear-gradient(to right, #000000, #0000ff 25%, #0066ff 70%, #000000);
}
footer p{
    text-align:center;
    font-size: 20px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}